connect-edifact/src/test/resources/sendenterprisemsg.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <http:listener-config name="HTTP_Listener_Configuration1" host="localhost" port="8987" doc:name="HTTP Listener Configuration"/>
    <flow name="sendenterprisemsgFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/" doc:name="HTTP"/>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[String fileContents = new File('src/main/resources/edifact/EdifactSample1.txt').getText('UTF-8');

return fileContents;]]></scripting:script>
        </scripting:component>
        <invoke object-ref="springEdifactConverterBeanId" method="getEnterpriseMsg" doc:name="Prepare Enterprise msg" methodArgumentTypes="java.lang.String" methodArguments="#[payload]"/>
        <set-property propertyName="messageType" value="edifact" doc:name="Property"/>
        <jms:outbound-endpoint  connector-ref="ActiveMQGlblConn" doc:name="JMS" topic="VirtualTopic.EDI-TOPIC">
            <jms:transaction action="NONE"/>
       
        </jms:outbound-endpoint>
        <set-payload value="#['Sent Edifact file successfully']" doc:name="Set Payload"/>
    </flow>
</mule>
